<h2>My Heroes</h2>

<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Hero name" #heroName id="heroName">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="add(heroName.value); heroName.value=''">Add</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-list dense>
    <mat-list-item *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button mat-icon-button title="delete hero" (click)="delete(hero)">x</button>
    </mat-list-item>
  </mat-list>
</mat-card>
<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul> -->
